.tweet:hover .tweet-text.rot13 {
  display: block;
}

.tweet .tweet-text.rot13 {
  background-color: #ddddff;
  display: none;
  z-index: 2;
  border: 1px solid grey;
  border-radius: 3px;
  position: absolute;
  top: 0;
  right: 0;
  width: 40em;
}
